p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-size: 25px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-data {
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: rgb(96, 96, 96);
}

.channel-name {
  font-size: 18px;
}

.video-description {
  font-size: 18px;
  width: 280px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.apple-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
}

.shop-link {
  cursor: pointer;
}

.shop-link:hover {
  text-decoration: underline;
}